/* for desktop */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar design starts here */
.nav-logo{
    text-align: left;
}

.nav-heading h1{
    text-align: right;
}

.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.nav-menu a{
    margin: 20px 0px;
    padding: 5px 10px;
    background-color: transparent;
}

.nav-menu a:hover{
    background-color: orange;
}

/* navbar design ends here */


/* profile design starts here */

.profile .top-weather-icon{
    width: 160px;
    right: 100px;
    top: 50px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover{
    width: 180px;
}

.profile-desc p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.profile .bottom-weather-icon{
    bottom: 10px;
    width: 160px;
    left: 100px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover{
    width: 180px;
}


/* profile design ends here */


/* about me design starts from here */

.aboutme-image{
    margin-top: 100px;
}

.aboutme-image img{
    height: 300px;
    width: 290px;
}

.aboutme-desc p{
    text-align: left;
}

/* about me design ends here */